* {
  background-color: white;
}
.login-form {
  background-color: white;
}

.btn-orange {
  background-color: #e78724;
  color: white;
  border: 1px solid #e78724;
  transition: 1s;
}
.btn-orange:hover {
  background-color: white;
  color: #e78724;
}

.login.login-4 .login-form-2 {
  max-width: 650px;
}
